.contact {
    background-color: #9c9c9c;
    padding-bottom: 60px;
    .title {
        height: 200px;
        text-align: center;
        background-color: #0C4182;
        color: #fff;
        line-height: 200px;
        font-size: 2em;
        margin-bottom: 0;
        margin-top: 0;
    }
    .form {
        width: 80%;
        margin: 0 auto;
        margin-top: -50px;
        background-color: #fff;
        padding: 30px;
        .form-element {
            margin-bottom: 20px;
            label {
                color: #495057;
                font-size: 1.2em;
            }
            .writing {
                width: calc(100% - 30px);
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                margin-top: 5px;
            }
            .writing:focus {
                outline-width: 0;
            }
            textarea {
                height: 150px;
                resize: vertical;
            }
            .checkbox {
                transform: scale(1.2);
            }
        }
        .submit-button {
            font-weight: 400;
            text-align: center;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            outline: none;
        }
        .submit-button:hover {
            background-color: #a0a0a0;
            color: #fff;
        }
        .submit-container {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}