.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: rgba(242,244,246,.9);
    height: 60px;
    .nav-button {
        margin: 10px;
        height: 33px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    .nav-button:hover {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}